*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/tools/build
/aibd/core/build
/aibd/cli/build
/aibd/prompt/build
/captures
.externalNativeBuild
.cxx
local.properties
ink-proto/bin/
gradle/gradle-daemon-jvm.properties
